@import "tailwindcss";

@theme inline {
  --color-background: #050510;
  --color-foreground: #00ff9d;
  
  --color-sci-bg: #050510;
  --color-sci-surface: #0a0f18;
  --color-sci-border: #1a2f3f;
  --color-sci-text: #00ff9d;
  --color-sci-text-muted: #4b8b8b;
  --color-sci-accent: #00e5ff;
  --color-sci-error: #ff003c;
  --color-sci-success: #00ff9d;
  
  --font-sans: var(--font-orbitron);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-mono);
  background-image: 
    linear-gradient(rgba(0, 255, 157, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 157, 0.03) 1px, transparent 1px);
  background-size: 20px 20px;
}
